{% extends 'base.html' %}
{% load static %}
{% block container %}
    <body>

    <!-- ======= Header ======= --><!-- End Header -->

    <div class="hero hero-single route bg-image" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <h2 class="hero-title mb-4">Portfolio Details</h2>
                    <ol class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Portfolio Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <main id="main">

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <div class="portfolio-details-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                                <div class="swiper-wrapper align-items-center" id="swiper-wrapper-e0fa144172edcd19"
                                     aria-live="off"
                                     style="transform: translate3d(-1032px, 0px, 0px); transition-duration: 0ms;">
                                    {% for portfolio in portfolio.images.all %}

                                    <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group"
                                         aria-label="1 / 3" style="width: 516px;">
                                        <img src="{{ portfolio.image.url }}" alt="">
                                    </div>
                                                {% endfor %}

                                </div>
                                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                                    <span class="swiper-pagination-bullet" tabindex="0" role="button"
                                          aria-label="Go to slide 1"></span><span
                                        class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                        role="button" aria-label="Go to slide 2" aria-current="true"></span><span
                                        class="swiper-pagination-bullet" tabindex="0" role="button"
                                        aria-label="Go to slide 3"></span></div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portfolio-info">
                                <h3>Project information</h3>
                                <div>
                                    <span><strong>Category</strong>: {{ portfolio.category }}</span>
                                    <div></div>
                                    <span><strong>Client</strong>: {{ portfolio.client }}</span>
                                    <div></div>
                                    <span><strong>Project date</strong>: {{ portfolio.project_date }}</span>
                                    <div></div>
                                    <span><strong>Project URL</strong>: {{ portfolio.project_url }}</span>
                                </div>
                            </div>
                            <div class="portfolio-description">
                                <h2>This is an example of portfolio detail</h2>
                                <span>
                            {{ portfolio.example_detail }}
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->

    </body>
{% endblock %}
